h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.report-table {
    border-collapse: collapse;
    width: 100%;
}

.report-table,
.report-table th,
.report-table td {
    border: 1px solid #000;
    padding: 2px 5px;
}

.report-table th {
    text-align: center;
}